<h2>Edit profile</h2>
<%= form_with model: [:user, @profile] do |form| %>
  <div>
    <%= form.label :country %> <br>
    <%= form.text_field :country %> 
  </div>
  <div>
    <%= form.label :phone %> <br>
    <%= form.text_field :phone %> 
  </div>
  <div>
    <%= form.label :age %> <br>
    <%= form.number_field :age %> 
  </div>
  <div>
    <%= form.label :contact_email %> <br>
    <%= form.email_field :contact_email %> 
  </div>
  <div>
    <%= form.label :hobbies %> <br>
    <%= form.text_field :hobbies %> 
  </div>
  <div>
    <%= form.label :interests %> <br>
    <%= form.text_field :interests %> 
  </div>
  <div>
    <%= form.label :description %> <br>
    <%= form.text_area :description, size: '45x10' %> 
  </div>
  <div>
    <%= form.label :photo %> <br>
    <% if @profile.photo.attached? %>
      <%= image_tag @profile.photo, width: '200px' %>  <br> 
    <% end %>
    <%= form.file_field :photo %> 
  </div>
  <br>
  <%= form.submit %>
<% end %> 