<li>
  <p>
    <%= user.email %>
    <% if (fr = @sended_and_received_requests.find { |fr| fr.user_id == current_user.id && fr.friend_id == user.id }) %>
      <% if fr.status == 'accepted' %>
        <strong>Friend</strong>
      <% elsif fr.inverse? %>
        <%= form_with model: fr do |form| %>
          <%= form.submit "Accept request" %>
        <% end %>
      <% else %>
        <%= form_with url: friend_request_path(fr), method: :delete do |form| %>
          <%= form.submit "Cancel request" %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_with model: FriendRequest.new do |form| %>
        <%= form.hidden_field :friend_id, value: user.id %>
        <%= form.submit 'Add friend' %>
      <% end %>
    <% end %>
  </p>
</li>