<li>
  <p>
    <%= user.email %>
    <% if (friendship = @friendships.find { |f| [current_user.id, user.id, f.user_id, f.friend_id].uniq.size == 2 }) %>
      <% if friendship.accepted? %>
       <%= form_with model: friendship, method: :delete do |form| %>
         <strong>Friend</strong>
         <%= form.submit 'Delete friend' %>
        <% end %>
      <% else %>
        <% if should_accept = friendship.friend_id == current_user.id  %>
          <%= form_with model: friendship do |form| %>
            <%= form.submit 'Accept request' %>
          <% end %>
        <% end %>
        <%= form_with model: friendship, method: :delete do |form| %>
          <%= form.submit should_accept ? 'Decline request' : 'Cancel request' %>
        <% end %>
      <% end %>
    <% else %>
      <%= form_with model: Friendship.new do |form| %>
        <%= form.hidden_field :friend_id, value: user.id %>
        <%= form.submit 'Add friend' %>
      <% end %>
    <% end %>
  </p>
</li>