<%= form_with model: post do |form| %>
  <div class="row">
    <div class="col-md mb-3">
      <%= form.label :content, class: 'form-label fs-5 text-decoration-underline' %><br>
      <%= form.text_area :content, class: 'form-control' %>
        <% if flash[:post_errors] %>
          <% flash[:post_errors].each do |error| %>
            <div class="mt-2 alert alert-danger"><%= error %></div>
          <% end %>
      <% end %>
    </div>
    <div class="col-md mb-3">
      <%= form.label :images, 'Upload images:', class: 'form-label fs-5 text-decoration-underline' %>
      <%= form.file_field :images, multiple: true, class: 'form-control' %>
    </div>
  </div>
  <div>
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>