<li>
  <p>
    <%= link_to post.author.email, user_path(post.author) %>
    <br>
    Published -> <%= post.content %> <br>
    <% if post.images.attached? %>
      Images:
      <% post.images.each do |image| %>
        <%= image_tag image, width: '50px' %>
      <% end %>
      <br><br>
    <% end %>

    Liked by -> <%= post.likes_count.zero? ? 'nobody :(' : pluralize(post.likes_count, 'person') %>

    <% like_and_post_id = @plucked_likes_and_posts_ids_of_user_likes.find { |_like_id, post_id| post_id == post.id} %>
    <% if like_and_post_id.nil? %> 
      <%= button_to 'Like', likes_path, params: { like: { post_id: post.id }}, method: :post %>
    <% else %> 
      <%= button_to 'Unlike', like_path(like_and_post_id), method: :delete %>
    <% end %> <br>

    <% if post.comments.empty? %>
      + This post doesn't have comments yet.
    <% else %>
      <%= pluralize(post.comments.size, 'comment') %>
    <% end %> <br><br>

    <%= link_to '> Read post <', post_path(post) %>
    <br>
    <br>
    <% if post.author == current_user %>
      <%= button_to 'Delete post', post_path(post), method: :delete, data: { turbo_confirm: "Are you sure?" }  %>
    <% end %>
  </p>
</li>