<li>
  <p>
    <%= post.author.email %>
    <br>
    Published -> <%= post.content %> <br>
    Liked by -> <%= post.likes_count.zero? ? 'nobody :(' : pluralize(post.likes_count, 'person') %>

    <% current_user_like_post_id = @current_user_likes_posts_ids.find { |_like_id, post_id| post_id == post.id} %>
    <% if current_user_like_post_id.nil? %> 
      <%= button_to 'Like', likes_path, params: { like: { post_id: post.id }}, method: :post %>
    <% else %> 
      <%= button_to 'Unlike', like_path(current_user_like_post_id), method: :delete %>
    <% end %> <br>

    <% if post.comments.empty? %>
      + This post doesn't have comments yet.
    <% else %>
      <%= pluralize(post.comments.size, 'comment') %>
    <% end %> <br><br>

    <%= link_to '> Read post <', post_path(post) %>
  </p>
</li>